Source: etcd-discovery
Section: main
Priority: optional
Maintainer: Florian Kasper <florian@xpandmmi.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0
Homepage: https://github.com/xpandmmi/registrator

Package: etcd-discovery
Architecture: amd64
Depends: libc6 (>= 2.15)
Description: traefik
 Træfɪk, a modern reverse proxy http://traefik.io/
 .
 Visit https://github.com/emilevauge/traefik
